.WeatherForecast {
  text-align: center;
  padding: 10px;
  border: 2px solid black;
  margin: 5px auto;
  font-family: basic sans, sans-serif;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}