:root {
  --display-font: decoy, serif;
  --secondary-font: basic-sans, sans-serif;
}

.Main-Weather {
  border: 2px solid black;

  padding: 10px;
}

.Main-Weather form {
  margin-bottom: 5px;
}

.Main-Weather .image {
  display: block;
  margin: 15px auto;
  padding-top: 30px;
}

.Main-Weather h1,
.temperature {
  text-align: center;
}

.Main-Weather h1 {
  font-family: var(--display-font);
}

.Main-Weather h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
}

.Main-Weather,
.temperature,
.description,
.date,
.humidity,
.wind,
.units {
  font-family: var(--secondary-font);
  font-size: 15px;
}

.Main-Weather .temperature,
.units {
  font-weight: 700;
}

.Main-Weather .temperature {
  font-size: 50px;
}

.Main-Weather .units {
  font-size: 20px;
  position: relative;
  top: -20px;
  padding-left: 5px;
}

.Main-Weather .units a {
  text-decoration: none;
}

.Main-Weather .description {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

.Main-Weather .humidity,
.wind {
  text-align: right;
}
