:root {
  --display-font: decoy, serif;
  --secondary-font: basic-sans, sans-serif;
}

.Weather {
  border: 2px solid black;
  border-radius: 1%;
  padding: 10px;
}

.Weather form {
  margin-bottom: 5px;
}

.Weather img {
  display: block;
  margin: 10px auto;
}

.Weather h1, .temperature {
  text-align: center;
}

.Weather h1{
  font-family: var(--display-font);
}

.Weather h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.Weather, .temperature, .description, .date, .humidity,
.wind,
.units {
  font-family: var(--secondary-font);
  font-size: 15px;
}


.Weather .temperature,
.units {
  font-weight: 700;
}

.Weather .temperature {
  font-size: 50px;
}

.Weather .units {
  font-size: 25px;
  position: relative;
  top: -20px;
  }

.Weather .description {
font-style: italic;
font-size: 20px;
font-weight: bold;
  
}

.Weather .humidity, .wind {
  text-align: right;
}
